<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auth_demo.mapper.IncomeMapper">
    <select id="selectByUserId" resultType="com.example.auth_demo.entity.Income">
        select * from income where user_id = #{userId} order by income_date desc
    </select>
</mapper>